body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* style header */
img {
    max-width: 80px;
    max-height: 80px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
}

canvas {
    width: 100%;
    height: 100%;
}

.title {
    flex-grow: 1;
    text-align: center;
}

.title h1 {
    margin: 0;
}

/* style navbar */
nav {
    width: 100%;
    background-color: #2a2b58;
    height: auto;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2a2b58;
    flex-wrap: wrap;
}

select {
    width: 100%;
    max-width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #2a2b58;
    padding: 10px;
    margin-bottom: 10px;
}

/* tooltip */
.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: rgb(252, 252, 252);
    color: #030303;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: -135%;
    left: 50%;
    margin-left: -70px;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* style main */
main {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.part1, .part2, .part3, .part4 {
    display: grid;
    gap: 20px;
    width: 100%;
    background-color: #eee; /* Background color gray for all parts */
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.part1 {
    grid-template-columns: 1fr 2fr;
}

.part-aside {
    background-color: #ccc;
    padding: 20px;
    display: grid;
    gap: 10px;
}

.container-aside {
    background-color: #eee;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.3);
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-metric {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.container-metric canvas {
    width: 100% !important;
    height: auto !important;
}

label {
    background-color: #2a2b58;
    text-align: left;
    color: #E7E2F4;
}

.label-viz {
    margin: 0px 20px 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.charts1 {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    height: 100%;
}

section {
    background-color: #eee;
    margin-bottom: 20px;
    padding: 20px;
}

.charts2, .charts3 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background-color: #eee;
}

.small {
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    padding: 20px;
}

.small-chart {
    flex: 1;
    margin-bottom: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.large-chart {
    flex: 2;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.small-chart canvas, .large-chart canvas {
    width: 100% !important;
    height: auto !important;
}

.datatable-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    overflow: auto;
    color: #2c2556;
    padding: 20px;
}

.datatable-div table {
    width: 100%;
    border-collapse: collapse;
}

.datatable-div table th, .datatable-div table td {
    text-align: left;
    padding: 8px;
}

.datatable-div table th {
    background-color: #f2f2f2;
}

footer {
    text-align: center;
}

footer p {
    font-size: small;
}

.mt-10 {
    margin-top: 10px;
}

/* style responsive untuk layar kecil */
@media screen and (max-width: 764px) {
    img {
        max-width: 40px;
        max-height: 40px;
    }

    .title h1 {
        font-size: medium;
    }

    .filter {
        flex-direction: column;
        align-items: center; /* Center the filter on mobile */
    }

    select {
        width: 100%;
        margin-bottom: 10px;
    }

    .part1 {
        grid-template-columns: 1fr;
    }

    .part-aside {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .container-metric {
        flex: 1;
    }

    .charts2 {
        flex-direction: column;
        padding: 0;
    }

    .small-chart,
    .large-chart {
        margin-bottom: 20px;
    }

    .part2 {
        flex-direction: column;
    }

    .charts3 {
        flex-direction: column;
        padding: 0;
    }

    .part3, .part4 {
        flex-direction: column;
    }

    .datatable-div {
        padding: 10px;
        overflow-x: auto;
    }

    .datatable-div table {
        width: 100%;
        min-width: 600px; /* Ensure table does not shrink too much */
    }

    .datatable-div th, .datatable-div td {
        padding: 8px;
        text-align: left;
        white-space: nowrap; /* Prevent text from wrapping */
    }
    .datatable-div table th, .datatable-div table td {
        white-space: nowrap;
    }
}

/* style responsive untuk layar besar (seperti iPad) */
@media screen and (min-width: 765px) and (max-width: 1024px) {
    img {
        max-width: 60px;
        max-height: 60px;
    }

    .title h1 {
        font-size: large;
    }

    .filter {
        justify-content: center; 
    }

    select {
        max-width: 300px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #2a2b58;
        padding: 10px;
        margin-bottom: 10px;
    }

    .part1 {
        grid-template-columns: 1fr;
    }

    .part-aside {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .charts2, .charts3 {
        flex-direction: column;
        gap: 20px;
    }
}
